# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
backend/venv/
backend/.env
.venv/
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.production

# Editor
.vscode/
.idea/
.DS_Store

# Vercel
.vercel
